## ===============================
## Visual Studio
## ===============================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## ===============================
## Build results
## ===============================
bin/
obj/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/

## ===============================
## NuGet
## ===============================
*.nupkg
*.snupkg
.nuget/
packages/
.nuget/packages/

## ===============================
## Logs
## ===============================
*.log

## ===============================
## Test results
## ===============================
TestResults/
*.trx

## ===============================
## Rider / Resharper
## ===============================
_ReSharper*/
*.DotSettings.user

## ===============================
## Visual Studio Code
## ===============================
.vscode/

## ===============================
## OS files
## ===============================
Thumbs.db
Desktop.ini

## ===============================
## Publish
## ===============================
publish/
*.publish.xml
*.pubxml
*.pubxml.user

## ===============================
## SQL Server
## ===============================
*.mdf
*.ldf

## ===============================
## Backup files
## ===============================
*.bak
*.tmp
*.temp
*.orig

## ===============================
## Windows Forms Designer
## ===============================
*.designer.cs

## ===============================
## Others
## ===============================
*.cache
*.ilk
*.pdb
*.iobj
*.ipdb
